| こんにちは
= @user.name
下のリンクをクリックして、アカウントを有効化してください:
= edit_account_activation_url(host: Rails.application.config.action_mailer.default_url_options[:host], email: @user.email, id: @user.id, token: @user.activation_token)
