@import "~bootstrap/scss/bootstrap.scss";


body {
  background-color: #f5f5f5;
  // font-family: "ヒラギノ角ゴ Pro W3" !important;
  font-family: sans-serif;
}

// pc
@media only screen and (min-width: 769px) {
  .form-format1{
    margin: auto;
    // padding-top: 1rem;
    min-width: 23rem;
    max-width: 33rem;
    text-align: center !important;
  }

  #side-menu-list {
    text-align: right;
    position: relative;
    top: 6rem;
    margin-right: 7rem;
  }
  #menu-button {
    display: none
  }

  .nav-link-button {
    position: relative;
  }

  .tooltip-top-left {
    display: none;
    position: absolute;
    transform: translateX(-110%) translateY(-60%);
    font-size: 0.8rem;
    width: max-content;
    background-color: #000;
    color: #fff;
    border-radius: 0.3rem 0.3rem 0rem 0.3rem;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  }
}

// sp
@media only screen and (max-width: 768px) {
  .form-format1{
    margin: auto;
    // padding-top: 1rem;
    width: 20rem;
    text-align: center !important;
  }

  #side-menu-list {
    text-align: right;
    position: relative;
    top: 6rem;
    margin-right: 4rem;
  }
  #pc-header-nav {display: none;}
  .nav-link-button {display: none;}
}

.anim-text-flow {
  font-size: 4.5rem;
  display: inline-block;
  background: linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
  background: -webkit-linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
}

@keyframes gradientEffect {
  from {background-position: left}
  to {background-position: right}
}

.anim-text-flow2 {
  font-size: 2.5rem;
  display: inline-block;
  background: linear-gradient(45deg, #fd7e14 16%, #feb272 57%, #fd7e14 95%);
  background: -webkit-linear-gradient(45deg, #fd7e14 16%, #feb272 57%, #fd7e14 95%);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
}

#pagination>.pagination {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 0.6rem;
  line-height: 2.8rem;
}
#pagination>.pagination>span {
  margin: 0.2rem;
  border: 0.05rem solid #696969;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #0d6efd;
  text-align: center;
}
#pagination>.pagination>.first>a {
  text-decoration: none;
  padding-left: 0.3rem;
}
#pagination>.pagination>.prev>a {
  text-decoration: none;
  padding-left: 0.3rem;
}
#pagination>.pagination>.current {
  text-decoration: none;
  padding-left: 0.8rem;
  background: #0d6efd;
  color: white;
}
#pagination>.pagination>.page>a {
  text-decoration: none;
  padding-left: 0.3rem;
}
#pagination>.pagination>.next>a {
  text-decoration: none;
  padding-left: 0.3rem;
}
#pagination>.pagination>.last>a {
  text-decoration: none;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

// /* 表示しているページ番号のデザイン */
// #pagination>.pagination>.active {
// }
// /*ホバー時のデザイン*/
#pagination>.pagination>span:hover {
  background: rgba(74, 146, 253, 0.692);
}

#pagination>#pagination-select {
  text-align: center;
  margin: 0.5rem;
}

#pagination-limit {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

// #items-link {
//   align-self: center;
// }
#menu-button:hover {
  opacity: 0.2;
}
#side-menu {
  z-index: 1000;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(-85deg, #f0a258, #f4b880, #f7cba2, #f9dcc0, #fef9f350);
  animation: anim 1s;
}

@keyframes anim {
  0% {
  transform: translateX(3rem);
  }

  100% {
  transform: translateX(0rem);
  }
}

#side-menu-button {
  margin-top: 2rem;
  margin-right: 2.3rem;
  width: 9%;
  right: 0;
  position: absolute;
}

#side-menu-button:hover {
  opacity: 0.2;
}
